# Build directory
/target/

# These directories include .dSYM folders on MacOS, which hold debug information
**/*.rs.bk/

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
**/Cargo.lock

# Rustfmt backup files
**/*.rs.bk
